:root {
  --swiper-theme-color: #FFF;
  --swiper-navigation-size: 24px;
  --plyr-color-main: #FCBF23;
}

// Sizes

$width-max:                     1170px;
$header-size:                   42px;
$size-totop:                    70px;

// Fonts

$font-family-montserrat:        "Montserrat", arial, sans-serif;
$font-family-base:              $font-family-montserrat;
$font-family-cyrillicold:       "CyrillicOld", arial, sans-serif;

$font-weight-thin:              100;
$font-weight-extra-light:       200;
$font-weight-light:             300;
$font-weight-regular:           400;
$font-weight-medium:            500;
$font-weight-semi-bold:         600;
$font-weight-bold:              700;
$font-weight-extra-bold:        800;
$font-weight-black:             900;
$font-weight-base:              $font-weight-regular;

$font-size-base:                1rem;
$font-size-large:               1.25 * $font-size-base;
$font-size-small:               0.8  * $font-size-base;
$font-size-logo:                0.75 * $font-size-base;
$font-size-phone:               1.2  * $font-size-base;

// Font headers size

$font-size-h1:                  2.23 * $font-size-base; // ~36px
$font-size-h1-large:            2.9  * $font-size-base; //  48px
$font-size-h2:                  1.87 * $font-size-base; // ~30px
$font-size-h3:                  1.6  * $font-size-base; // ~26px
$font-size-h4:                  1.25 * $font-size-base; //  20px
$font-size-h5:                  1    * $font-size-base; //  16px
$font-size-h6:                  0.85 * $font-size-base; // ~14px

// Colors

$color-text-base:               #000;
$color-text-base-alt:           #FFF;
$color-text-secondary:          #BBB;
$color-text-secondary-alt:      #888;
$color-accent:                  #FCBF23;
$color-text-selection:          #FCBF23;
$color-link:                    #FCBF23;
$color-link-hover:              lighten($color-link, 50%);

// Shadows

$shadow-default:                0 0 15px transparentize($color-accent, 0.6);

// Social Icons Colors

$vk:                            #4A76A8;
$ok:                            #EE8208;
$twitter: 		                #55ACEE;
$skype: 		                #00AFF0;
$facebook:                      #3B5998;
$linkedin:                      #0976B4;
$youtube:                       #B31217;
$instagram:                     #517FA4;
$behance:                       #053EFF;
